<!doctype html>
<html class="no-js" lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>{{ page.title }} - {{ site.title }}</title>
  <meta name="description"
    content="{% if .page.description %}{{ .page.description }}{% else %}{{ .site.description }}{% endif %}">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/png" href="{{ "/img/favicon.png" | absolute_url }}" />
  <link rel="stylesheet" href="https://yui-s.yahooapis.com/pure/0.6.0/pure-min.css">
  <!--[if lte IE 8]>
  <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/grids-responsive-old-ie-min.css">
  <![endif]-->
  <!--[if gt IE 8]><!-->
  <link rel="stylesheet" href="https://yui-s.yahooapis.com/pure/0.6.0/grids-responsive-min.css">
  <!--<![endif]-->
  <link rel="stylesheet" href="{{ "/css/main.min.css" | absolute_url }}">

  {% seo %}

  <script type="application/ld+json">
    { "@context": "https://schema.org",
    "@type": "Organization",
    "name": "IT Club",
    "legalName" : "IT Club UCSMUB",
    "url": "https://itclubucsmub.com",
    "logo": "https://upload.wikimedia.org/wikipedia/commons/7/7a/IT_Club_UCSMUB.jpg",
    "foundingDate": "December 2017",
    "founders": [
      {
      "@type": "Person",
      "name": "Aung Ko Khant"
      },
      {
        "@type": "Person",
        "name": "Htet Aung Lin"
      },
      {
        "@type": "Person",
        "name": "Phyo Kaung Khant"
        },
      {
        "@type": "Person",
        "name": "Kaung Myat Paing"
      },
      {
        "@type": "Person",
        "name": "Hein Htet Aung"
        },
    ],
    "address": {
    "@type": "PostalAddress",
    "streetAddress": " Seinmya Kanthar Street",
    "addressLocality": "Maubin",
    "addressRegion": "Ayeyarwady",
    "postalCode": "10181",
    "addressCountry": "MM"
    },
    "contactPoint": {
    "@type": "ContactPoint",
    "contactType": "Contact",
    "telephone": "[+95 9 962 906346]",
    "email": "itclub.ucsmub@gmail.com"
    },
    "sameAs": [
    "https://github.com/itclubucsmub",
    "http://www.facebook.com/itclubucsmub",
    "http://www.twitter.com/itclub_ucsmub"
    ]}
   </script>
</head>

<body>