<script type='application/ld+json'>
    {
      "@context": "http://www.schema.org",
      "@type": "Organization",
      "name": "IT Club UCSMUB",
      "url": "https://itclubucsmub.com",
      "slogan": "We learn, we Share.",
      "foundingDate": "December 2017",
      "founders": [
        {
        "@type": "Person",
        "name": "Aung Ko Khant",
        "description": "Founder of IT Club UCSMUB",
        "url": ""
        },
        {
          "@type": "Person",
          "name": "Htet Aung Lin",
          "description": "Android developer, Co-Founder of IT Club UCSMUB",
        "url": "https://htetaunglin.github.io"
        },
        {
          "@type": "Person",
          "name": "Phyo Kaung Khant",
          "description": "Co-Founder of IT Club UCSMUB",
        "url": ""
          },
        {
          "@type": "Person",
          "name": "Kaung Myat Paing",
          "description": "Web developer, Co-Founder of IT Club UCSMUB",
        "url": "https://kaungmyatpaing.netlify.com"
        },
        {
          "@type": "Person",
          "name": "Hein Htet Aung",
          "description": "Web developer, Co-Founder of IT Club UCSMUB",
        "url": "https://heinhtetaung.com"
        }
      ],
      "sameAs": [
          "https://github.com/itclubucsmub",
          "https://my.wikipedia.org/wiki/IT_Club_UCSMUB",
          "http://www.twitter.com/itclub_ucsmub",
          "http://www.facebook.com/itclubucsmub",
          "https://www.wikidata.org/wiki/Q64226038"
      ],
      "logo": "https://upload.wikimedia.org/wikipedia/commons/7/7a/IT_Club_UCSMUB.jpg",
      "image": "https://upload.wikimedia.org/wikipedia/commons/f/f6/IT_Club_UCSMUB_Cover.png",
      "description": "IT Club UCSMUB. Student Based Association in University of Computer Studies (Maubin). We all share our knowledge & experiences each other to become preeminent students & successful computer scientists/technologists in IT World. Founded in December 2017.",
      "address": {
          "@type": "PostalAddress",
          "streetAddress": "University of Computer Studies (Maubin), Seinmya Kanthar Street",
          "addressLocality": "Maubin",
          "addressRegion": "Ayeyarwady",
          "postalCode": "10181",
          "addressCountry": "Myanmar"
      },
      "foundingLocation": {
            "@type": "place",
            "address": {
                "@type": "PostalAddress",
                "streetAddress": "University of Computer Studies (Maubin), Seinmya Kanthar Street",
                "addressLocality": "Maubin",
                "addressRegion": "Ayeyarwady",
                "postalCode": "10181",
                "addressCountry": "Myanmar"
            }
        },
      "contactPoint": {
        "@type": "ContactPoint",
        "contactType": "customer service",
        "telephone": "+95 9 962 906346",
        "email": "itclub.ucsmub@gmail.com"
        }
    }
  </script>